<h1>Connect Four</h1>

<table id="board">
	<tr data-row="1">
		<td data-col="1" data-id="1"></td>
		<td data-col="2" data-id="7"></td>
		<td data-col="3" data-id="13"></td>
		<td data-col="4" data-id="19"></td>
		<td data-col="5" data-id="25"></td>
		<td data-col="6" data-id="31"></td>
		<td data-col="7" data-id="37"></td>
	</tr>
	<tr data-row="2">
		<td data-col="1" data-id="2"></td>
		<td data-col="2" data-id="8"></td>
		<td data-col="3" data-id="14"></td>
		<td data-col="4" data-id="20"></td>
		<td data-col="5" data-id="26"></td>
		<td data-col="6" data-id="32"></td>
		<td data-col="7" data-id="38"></td>
	</tr>
	<tr data-row="3">
		<td data-col="1" data-id="3"></td>
		<td data-col="2" data-id="9"></td>
		<td data-col="3" data-id="15"></td>
		<td data-col="4" data-id="21"></td>
		<td data-col="5" data-id="27"></td>
		<td data-col="6" data-id="33"></td>
		<td data-col="7" data-id="39"></td>
	</tr>
	<tr data-row="4">
		<td data-col="1" data-id="4"></td>
		<td data-col="2" data-id="10"></td>
		<td data-col="3" data-id="16"></td>
		<td data-col="4" data-id="22"></td>
		<td data-col="5" data-id="28"></td>
		<td data-col="6" data-id="34"></td>
		<td data-col="7" data-id="40"></td>
	</tr>
	<tr data-row="5">
		<td data-col="1" data-id="5"></td>
		<td data-col="2" data-id="11"></td>
		<td data-col="3" data-id="17"></td>
		<td data-col="4" data-id="23"></td>
		<td data-col="5" data-id="29"></td>
		<td data-col="6" data-id="35"></td>
		<td data-col="7" data-id="41"></td>
	</tr>
	<tr data-row="6">
		<td data-col="1" data-id="6"></td>
		<td data-col="2" data-id="12"></td>
		<td data-col="3" data-id="18"></td>
		<td data-col="4" data-id="24"></td>
		<td data-col="5" data-id="30"></td>
		<td data-col="6" data-id="36"></td>
		<td data-col="7" data-id="42"></td>
	</tr>
</table>

<div id="p">Current Player: <span>&nbsp;</span></div>

